#escondido{
	display: none;
	visibility: hidden;
}
.textoMayuscula{
	text-transform: capitalize;
}
table tr, th, td{
	text-align: center;
}
.tablewrapper{
	overflow: hidden;
	overflow-y: scroll;
	height: 150px;
}
#cabecera{
	margin-bottom: 80px;
}
