#escondido{
	display: none;
	visibility: hidden;
}
.textoMayuscula{
	text-transform: capitalize;
}
table tr, th, td{
	text-align: center;
}
.tablewrapper{
	overflow: hidden;
	overflow-y: scroll;
	height: 150px;
}
#cabecera{
	margin-bottom: 80px;
}
input{
	text-align: center;
}
.input-principal{
	background-color: #FFFFA2;
	font-weight: bold; 
}
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 5px; /* firefox bug fix */
  margin-left: 25px;
  width: auto;
}
.jumbotron{
	background-color: white;
}